{% extends "base.html" %}

{% block content %}
<h2>Record a Sale</h2>
<form method="POST" class="form-horizontal">
    <div class="form-group">
        <div class="col-1 col-sm-12">
            <label for="product">Product</label>
        </div>
        <div class="col-1 col-sm-12">
            <select name="product" id="product" class="form-control" required>
                {% for item in inventory %}
                <option value="{{ item.product }}">{{ item.product }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-1 col-lg-9">
            <label for="quantity">Quantity</label>
        </div>
        <div class="col-1 col-lg-9">
            <input type="number" name="quantity" id="quantity" class="form-control" required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-1 col-sm-12">
            <label for="price">Price per unit</label>
        </div>
        <div class="col-1 col-sm-12">
            <input type="number" name="price" id="price" step="0.01" class="form-control" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Record Sale</button>
</form>

{% if message %}
<p>{{ message }}</p>
{% endif %}

<h2>Inventory</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Item name</th>
            <th>Price per unit</th>
            <th>Item Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventory %}
        <tr>
            <td>{{ item.product }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}